<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title | safeHTML }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="/style.css">
  </head>
  <body>
    <header>
      <h1>{{ .Site.Title | safeHTML }}</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/music">Music</a>
          </li>
          <li>
            <a href="/reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <img src="{{ index .Params "header-image" }}">
    </header>
    <main>
      {{ block "main" .}}
      {{ end }}
    </main>
    <footer>
      <ul class="footer-button-list">
        <li>
          <img src="/8831buttons/button_tupachq1.gif">
        </li>
        <li>
          <img src="/8831buttons/chat2.gif">
        </li>
        <li>
          <img src="/8831buttons/chatroom2.gif">
        </li>
        <li>
          <img src="/8831buttons/click_here.gif">
        </li>
        <li>
          <img src="/8831buttons/coolbutton.gif">
        </li>
        <li>
          <img src="/8831buttons/cuteanimegirls.gif">
        </li>
      </ul>
      &copy; 2024 Babz | Desgined by yours truly
    </footer>
  </body>
</html>
